{% extends 'base.html.twig' %}

{% block title %}Inscription!
{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/js/chosen/chosen.min.css">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div class="col-3 mx-auto mt-3">
		<div class="text-center">
			<h1>Inscription</h1>
		</div>
		{{ form_start(formUtilisateur, {'attr' : {'novalidate' : 'novalidate' }}) }}

		{{ form_row(formUtilisateur.nom)}}
		{{ form_row(formUtilisateur.prenom)}}
		{{ form_row(formUtilisateur.roles)}}
		{{ form_row(formUtilisateur.email)}}
		{{ form_row(formUtilisateur.password)}}
		{{ form_row(formUtilisateur.formation)}}
		<div class="text-center">
			{{ form_row(formUtilisateur.submit)}}
		</div>

		{{ form_end(formUtilisateur) }}

	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="/assets/js/chosen/chosen.jquery.js"></script>
	<script>
		$(document).ready(function () {
$('.chzn-select').chosen();
});
	</script>
{% endblock %}
