{% extends 'base.html.twig' %}

{% block title %}Inscription!
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div class="col-3 mx-auto mt-3">
		<div class="text-center">
			<h1>Inscription</h1>
		</div>
		{{ form_start(formUtilisateur, {'attr' : {'novalidate' : 'novalidate' }}) }}

		{{ form_row(formUtilisateur.nom)}}
		{{ form_row(formUtilisateur.prenom)}}
		{{ form_row(formUtilisateur.roles)}}
		{{ form_row(formUtilisateur.email)}}
		{{ form_row(formUtilisateur.password)}}
		{{ form_row(formUtilisateur.formation)}}
		<div class="text-center">
			{{ form_row(formUtilisateur.submit)}}
		</div>

		{{ form_end(formUtilisateur) }}

	</div>
{% endblock %}
