{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-10">
				<table class="table mt-3">
					<thead>
						<tr>
							<th scope="col" class="text-center">id</th>
							<th scope="col" class="text-center">Nom</th>
							<th scope="col" class="text-center">Prénom</th>
							<th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Formation</th>
							<th scope="col" class="text-center">Role</th>
                            <th scope="col" class="text-center">Modifier</th>
							<th scope="col" class="text-center">Supprimer</th>
						</tr>
					</thead>
					{% for user in listUtilisateur |sort |reverse %}
								<tbody>
									<tr>
										<th class="text-center" scope="row">{{user.id}}</th>
										<td class="text-center">{{user.nom}}</td>
										<td class="text-center">{{user.prenom}}</td>
										<td class="text-center">{{user.email}}</td>
                                        <td class="text-center">{{ user.formation | length }}</td>
										<td class="text-center">{{ user.roles[0] }}</td>
                                        <td class="text-center"><a href="{{ path("edit_profil", {id: user.id})}}"><i class="fas fa-user-edit text-dark"></i></a></td>
										<td class="text-center"><a href="{{ path("supprimer_utilisateur", {id: user.id})}}"><i class="fas fa-trash text-dark"></i></a></td>
									</tr>
								</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

{% endblock %}
