{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-10">
				<table class="table mt-3">
					<thead>
						<tr>
							<th scope="col">id</th>
							<th scope="col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col">Email</th>
                            <th scope="col">Formation</th>
							<th scope="col">Role</th>
                            <th scope="col">modifier</th>
						</tr>
					</thead>
					{% for user in listUtilisateur %}
								<tbody>
									<tr>
										<th scope="row">{{user.id}}</th>
										<td>{{user.nom}}</td>
										<td>{{user.prenom}}</td>
										<td>{{user.email}}</td>
                                        <td>{{ user.formation | length }}</td>
										<td>{{ user.roles[0] }}</td>
                                        <td><a href="{{ path("edit_profil", {id: user.id})}}"><i class="fas fa-user-edit"></i></a></td>
									</tr>
								</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

{% endblock %}
