{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

	<div class="col-5 text-center mx-auto">
		{{ form_start(formForma, {'attr' : {'novalidate' : 'novalidate' }}) }}

		{{ form_row(formForma.nom)}}
		{{ form_row(formForma.dateDebut)}}
		{{ form_row(formForma.dateFin)}}
		
		<button type="submit" class="btn btn-primary">
			{% if editMode %}
				Enregistrer les modifications
			{% else %}
				Ajouter la formation
			{% endif %}
		</button>

		{{ form_end(formForma) }}

	</div>
	<div>
		<a href="{{ path ("accueil")}}">Revenir à l'accueil</a>
	</div>

{% endblock %}