{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}

	<div class="text-center mt-5">
		<h1>Gérer une formation</h1>
	</div>

	<div class="col-3 mx-auto">
		{{ form_start(formForma, {'attr' : {'novalidate' : 'novalidate' }}) }}

		{{ form_row(formForma.nom)}}
		{{ form_row(formForma.dateDebut)}}
		{{ form_row(formForma.dateFin)}}
		<div class="text-center">
			{{ form_row(formForma.submit)}}
		</div>

		{{ form_end(formForma) }}

	</div>

{% endblock %}
